.footer-top {
  padding: 67px 0 80px;
  @include background("light-black");
  @include color("white");
  
  @at-root {
    .top-items {
      padding-bottom: 40px;
      @include flex(flex,$gap:0 80px);

      li {
        @include flex($basis:33%);
      }

      h3 {
        padding-bottom: 20px;
        @include font($size: 16px, $weight: bold, $text: uppercase);
      }

      p {
        @include font($size:14px);
        line-height: 1.5;
      }

      figure {
        width: 68%;
      }
    }

    @include maxResponsive("ipad") {
      .top-items {
        @include flex($wrap:wrap,$gap:32px);

        li:first-child {
          @include flex($basis:100%);
        }

        li {
          @include flex($basis:47%);
        }
      }
    }

    @include maxResponsive("largePhone") {
      .top-items {
        li {
          @include flex($basis:100%);
          @include font($textAlign:center);
        }
        figure {
          width: 50%;
          margin: 0 auto;
        }
      }
    }
  }
}

.footer-bottom {
  padding: 5px 0;
  @include background("black");
  .wrapper {
    @include flex(flex,$justify:space-between);
  }
  @at-root {
    .social-items {
      @include flex(flex,$gap:20px);

      a {
        text-indent: -9999px;

        &::before {
          @include icon($color:"icon-color",$size:19px,$textIndent:true);
        }
      }
    }
    @include onlyIcon($fontAwesome);

    .term-items {
      @include flex(flex,$align:flex-end);

      li:nth-child(2) a {
        border-left: 1px solid #fff;
      }
      a {
        padding: 0 6px;
        @include color("white");
        @include font($size:13px)
      }
    }

    @include maxResponsive("mediumPhone") {
      .footer-bottom {
        .wrapper {
          @include flex($direction:column,$align:center,$gap:8px)
        }
      }
    }
  }
}
