/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 94%;
  margin: 0 auto;
}

header {
  max-height: 700px;
  height: 92vh;
  background: #000;
}
header .wrapper {
  padding: 30px 0 22px;
  border-bottom: 2px solid white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.header-content {
  padding-right: 1.5%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  gap: 20px;
}

.logo a {
  color: #fff;
  font-size: 44px;
  font-weight: bold;
  text-transform: capitalize;
}

.hamburger {
  width: 41px;
  height: 35px;
  border-radius: 2px;
  display: none;
  position: relative;
  cursor: pointer;
}

.bar {
  width: 50%;
  height: 3px;
  border-radius: 4px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  text-indent: -99999px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bar::before,
.bar::after {
  content: "";
  width: 100%;
  height: inherit;
  position: absolute;
  left: 0;
  background-color: inherit;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bar::before {
  top: -8px;
}

.bar::after {
  top: 8px;
}

.hamburger:hover .bar {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger:hover .bar::before {
  -webkit-transform: translateY(8px) rotate(0);
  -ms-transform: translateY(8px) rotate(0);
  transform: translateY(8px) rotate(0);
}

.hamburger:hover .bar::after {
  -webkit-transform: translateY(-8px) rotate(-90deg);
  -ms-transform: translateY(-8px) rotate(-90deg);
  transform: translateY(-8px) rotate(-90deg);
}

.nav-items {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.nav-items li {
  padding: 0 25px;
}
.nav-items a {
  position: relative;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media only screen and (min-width: 995px) {
  .nav-items a:hover {
    color: #F58181;
  }
}

.down-icon::after {
  content: "\f078";
  position: absolute;
  top: 50%;
  right: -16px;
  font-family: "FontAwesome";
  font-size: 7px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cart-search {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: flex-end;
  -moz-box-align: flex-end;
  -ms-flex-align: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  gap: 15px;
}
.cart-search a {
  text-indent: -9999px;
}
.cart-search a::before {
  color: #fff;
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}
.cart-search li:first-child a::before {
  font-size: 30px;
}

.shop::before {
  content: "\f290";
}

.search::before {
  content: "\f002";
}

@media only screen and (max-width: 768px) {
  .hamburger {
    padding: 5px;
    display: block;
    z-index: 3;
  }
  nav {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -100%;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .nav-items {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: 40px;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    flex-direction: column;
  }
  .hamburger:hover + nav {
    left: 0;
  }
}

.section-heading {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  font-style: italic;
}

.new-designs {
  padding: 90px 0;
  background: #B5C5CB;
}
.gallery {
  padding: 50px 0 83px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 20px;
}

.gallery-one, .gallery-two {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 18px;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  flex-direction: column;
}
.gallery-one li, .gallery-two li {
  border: 10px solid #fff;
  box-shadow: 5px 5px 0 #A3B1B7;
}

.testimonial {
  padding-top: 50px;
  position: relative;
  background: #1C1C1C;
  color: #fff;
}
.testimonial .wrapper {
  width: 84%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  flex-direction: column;
}
.feedback {
  padding: 20px 0 32px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 50px;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.feedback p {
  padding-left: 8.5%;
  font-size: 30px;
  font-style: italic;
  line-height: 1.6;
}

.user {
  text-align: center;
}
.user figure {
  width: 78%;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
.user h3 {
  padding: 16px 0 6px;
  font-size: 20px;
  text-transform: capitalize;
}
.user span {
  color: #F58181;
}

.controls {
  padding-bottom: 43px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.control-btns {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 12%;
  left: 14.7%;
}
.control-btns a {
  text-indent: -9999px;
}
.control-btns a::before {
  padding: 9px;
  border: 1px solid #f58181;
  color: #F58181;
  font-family: "FontAwesome";
  font-size: 10px;
  float: left;
  text-indent: 0;
}
.control-btns .prev::before {
  content: "\f100";
}
.control-btns .next::before {
  content: "\f101";
}

.dots {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 10px;
}
.dots span {
  width: 8px;
  height: 8px;
  border: 1px solid #F58181;
  border-radius: 50%;
  display: block;
  text-indent: -9999px;
}

.active-dot {
  background: #F58181;
}

.authors {
  padding: 100px 0;
  background: #B5C5CB;
}
.author-items {
  padding-top: 88px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 55px;
}
.author-items li {
  font-size: 15px;
  text-align: center;
  text-transform: capitalize;
}
.author-items figure {
  border-radius: 50%;
  overflow: hidden;
}
.author-items h4 {
  padding: 10px 0 4px;
}
.author-items h5 {
  color: #fff;
}

@media only screen and (max-width: 1024px) {
  .author-items {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.top-designs {
  padding: 35px 0 53px;
  background: #B5C5CB;
}
.design-items {
  padding: 90px 0;
  margin-left: 0.5%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 30px;
}
.design-items li {
  position: relative;
  box-shadow: 6px 7px 0 #a3b1b7;
}

.design-details {
  padding: 20px 5% 30px;
  background: #fff;
}
.design-details h4 {
  padding-bottom: 15px;
  font-weight: bold;
  text-transform: capitalize;
}
.design-details span {
  color: #F58181;
  font-weight: bold;
}
.design-details .cancel-text {
  color: #6799B8;
  font-size: 15px;
  text-decoration: line-through;
}
.design-details a {
  color: #1C1C1C;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.red-badge,
.blue-badge {
  height: 57px;
  border-radius: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: -17px;
  right: -20px;
  color: #fff;
}

.red-badge {
  width: 58px;
  background: #F58181;
  font-size: 15px;
  text-transform: uppercase;
}

.blue-badge {
  width: 34px;
  padding: 0 11px;
  background: #6799B8;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
  .design-items {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .design-items li {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
  }
}
@media only screen and (max-width: 995px) {
  .design-items {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .design-items li {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
  }
}
@media only screen and (max-width: 540px) {
  li {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
  }
}

.footer-top {
  padding: 67px 0 80px;
  background: #1C1C1C;
  color: #fff;
}
.top-items {
  padding-bottom: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 0 80px;
}
.top-items li {
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
}
.top-items h3 {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.top-items p {
  font-size: 14px;
  line-height: 1.5;
}
.top-items figure {
  width: 68%;
}

.footer-bottom {
  padding: 5px 0;
  background: #000;
}
.footer-bottom .wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.social-items {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 20px;
}
.social-items a {
  text-indent: -9999px;
}
.social-items a::before {
  color: #B4C3CA;
  font-family: "FontAwesome";
  font-size: 19px;
  float: left;
  text-indent: 0;
}

.facebook::before {
  content: "\f39e";
}

.twitter::before {
  content: "\f099";
}

.vimeo::before {
  content: "\f40a";
}

.instagram::before {
  content: "\e055";
}

.term-items {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: flex-end;
  -moz-box-align: flex-end;
  -ms-flex-align: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.term-items li:nth-child(2) a {
  border-left: 1px solid #fff;
}
.term-items a {
  padding: 0 6px;
  color: #fff;
  font-size: 13px;
}

/*# sourceMappingURL=style.css.map */
